@import '../../variables.scss' ;

.wrapper {
    display: grid;
    gap: 1rem;
    padding: 20px 0;
    max-width: 1350px;
    margin: 0 auto;

    p {
        font-weight: 600;
        color: $whiteColor;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;

        @media screen and (min-width: 767px) {
            text-align: left;
            font-size: 20px;
        }
    }

    // Mobile: 1 column
    @media (max-width: 767px) {
        grid-template-columns: 1fr; 
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 3fr;
        padding-top: 50px;
    }
}

.marq {
    img {
        margin-left: 60px;
    }
}