@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

//COLORS
$primaryColor: #E8F549;
$secondaryColor: #0C4B54;
$tertiaryColor: #5869FC;

$whiteColor: #fff;
$blackColor: #161616;

//FONTS
$Font: "Inter", sans-serif;

//FONT SIZES
$btnSize: 14px;
$fontSize: 16px;
$fontSize2: 18px;
$fontSize3: 20px;
$heading1: 56px;
$heading2: 48px;


//BREAKPOINTS
$breakpointMobile: 768px;
$breakpointTablet: 992px;
$breakpointDesktop: 1200px;


//MIXINS
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin bodyText {
    font-size: $fontSize;
    color: $blackColor;
    font-family: $Font;
  }

  * {
    font-family: "Inter", sans-serif;
  }